.CreateFrom{
    width: 400px;
    margin: 0 auto;

    border-radius: 10px;
    
    background-color: #242831;
}
.CreateFrom>form{
    padding-top: 10px;

    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.CreateFrom>form>input{
    width: 360px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;

    font-size: 20px;

    border: none;
    border-bottom: solid white 1px;
    
    color: white;
    background-color: #242831;
}
.CreateFrom>form>button{
    height: 40px;
    width: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    
    border: none;
    border-radius: 10px;
    
    font-size: 20px;
    
    transition: .2s ease-in-out;
    cursor: pointer;

    color: white;
    background-color: #4147FF;
}
.CreateFrom>form>button:hover{
    background-color: #3439c4;
}
.CreateFrom>form>div>label{
    height: 50px;
    width: 50px;
    margin: 0 5px;
    padding-left: 10px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.CreateFrom>form>div>label:active{
    background-color: #3439c4;
}
.CreateFrom>form>div>label>input{
    visibility: hidden;
}