*{
    padding: 0;
    margin: 0;
    
}
.headerBar{
    height: 100px;
    width:100vw;

    position: relative;
    display: flex;
    justify-content: end;

}

.Logo{
    height: 70px;
    width: 70px;
    left: 15px;
    top:15px;
    border-radius: 10px;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Logo>img{
    height: 100%;
}
/*Search*/

.SearchBlock{
    height: 100px;
    width: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.SearchBar{
    height: 50px;
    width: 400px;

    border-radius: 10px;
    border:solid #585C65 1px;
    position: relative;

    display: flex;
    align-items: center;
}
.SearchBar>svg:nth-child(1){
    margin:0 10px;
    cursor: pointer;
}
.SearchBar>svg:nth-child(3){
    right: 10px;
    transition: .2s ease-in-out;
    position: absolute;
    cursor: pointer;
}
.SearchBar>input{
    height: 25px;
    width: 100%;
    font-size: 16px;

    border: none;
    outline: none;
}

/*line*/
.line{
    height: 50px;
    width: 2px;
    margin-top: 25px;
    margin-left:30px;
    margin-right: 10px;
}
/*User*/

.UserBlock{
    height: 100px;
    width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.UserBarLogin{
    height: 50px;
    width: 100px;
    margin: 0 5px;

    border-radius: 10px;

    font-size: 16px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: .3s ease-in-out;
    cursor: pointer;
}

.UserBarAuthen{
    height: 50px;
    width: 250px;

    display: block;
}
.UserInfo{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    float: left;
}
.Burger{
    display: none;
}
.UserInfo>div:nth-child(1){
    display: none;
}
.UserInfo>div:nth-child(2){
    font-size: 18px;
}
.UserInfo>div:nth-child(3){
    font-size: 12px;
}
.HideMenu{
    height: 50px;
    width: 50px;

    float: right;
    display: block;
    position: relative;
    z-index: 5;
}
.ButtonToHideMenu{
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s ease-in-out;
}
.ButtonToHideMenu>svg{
    cursor: pointer;
}

.HideMenuBar{
    width: 200px;
    position: absolute;
    right: 0;
}
.HideMenuBar>.ActualLan{
    
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;

    transition: .2s ease-in-out;
}
.HideMenuBar>.ActualLan>img{
    height: 20px;
    width: 30px;
    border-radius: 5px;
}
.HideLanBar>div{
    height: 40px;
    width: calc(100% - 40px);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.HideLanBar>div>img{
    height: 20px;
    width: 30px;
    border-radius: 5px;
    margin-right: 10px;
}
.exitButton{
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: .2s ease-in-out;
}
.exitButton>svg{
    margin-right: 10px;
}