*{
    padding: 0;
    margin: 0;
}
.headerBar{
    height: 100px;
    width:100vw;

    position: relative;
    display: flex;
    justify-content: end;

    background-color: #242831;
}

.Logo{
    height: 70px;
    width: 70px;
    left: 15px;
    top:15px;
    border-radius: 10px;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Logo>img{
    height: 100%;
}
/*Search*/

.SearchBlock{
    height: 100px;
    width: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.SearchBar{
    height: 50px;
    width: 400px;

    border-radius: 10px;
    border:solid #585C65 1px;
    
    display: flex;
    align-items: center;
}
.SearchBar>svg{
    margin:0 10px;
}
.SearchBar>input{
    height: 25px;

    font-size: 16px;

    border: none;
    outline: none;
    color: white;
    background-color: #242831;
}
/*Theme*/

.ThemeBlock{
    height: 100px;
    width: 165px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Theme{
    height: 50px;
    width: 105px;

    border-radius: 25px;

    background-color: #373C42;
    
}
.Theme>.Light{
    height: 50px;
    width: 50px;

    border-radius: 50px;

    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Theme>.Light>svg{
    fill:#585C65;
}
.Theme>.Dark{
    height: 50px;
    width: 50px;

    border-radius: 50px;

    
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #4147FF;
}
.Theme>.Dark>svg{
    fill:White;
}
/*line*/
.line{
    height: 50px;
    width: 2px;
    margin-top: 25px;

    background-color: #585A66;
}
/*User*/

.UserBlock{
    height: 100px;
    width: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.UserBarLogin{
    height: 50px;
    width: 100px;
    margin: 0 5px;

    border-radius: 10px;

    font-size: 16px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: .3s ease-in-out;
    cursor: pointer;
    
    color: white;
    background-color: #49505F;
}
.UserBarLogin:hover{
    background-color: #363b46;
}

.UserBarAuthen{
    height: 50px;
    width: 200px;

    display: block;
}
.UserInfo{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    float: left;

    color: white;
}
.exitButton{
    margin-top: 10px;

    float: right;
}