.ListsBlock{
    position: relative;
    height: calc(100vh - 100px);
}
.ListTitleCreate{
    width: 1200px;
    height: 90px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*ListsTitleCreate*/
.ListTitleCreate>.Title{
    font-size: 32px;
    font-weight: 700;

    color: white;
}
.ListTitleCreate>.CreateListBlock{
    height: 50px;
    width: 270px;

    font-size: 20px;
    text-decoration: none;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: .2s ease-in-out;
    cursor: pointer;
    
    color: white;
    background-color: #242831;
}
.ListTitleCreate>.CreateListBlock:hover{
    background-color: #313642;
}
.ListTitleCreate>.CreateListBlock>svg{
    margin-left: 10px;
}


/*ListOfLists*/

.ListOfLists{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
}
.ListOfListsHide{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: none;
}
.ListOfLists>.ListoBar{
    height: 80px;
    width: 100%;
    border-radius: 10px;

    background-color: #242831;
}
.ListOfLists>.ListoBarSkelenot{
    height: 80px;
    width: 100%;
    border-radius: 10px;

    background: linear-gradient(149deg, #1f232b 0%, #303642 100%);
    animation: gradient 10s infinite linear;
    background-size: 400%;
}
@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
.ListOfListsHide>.ListoBar{
    height: 80px;
    width: 100%;
    border-radius: 10px;
    
    background-color: #3f4147;
}
/*IconBar*/

.IconBlock{
    height: 100%;
    width: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

/*InfoBlock*/

.InfoBlock{
    height: 100%;
    width: 910px;

    float: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.titleList{
    font-size: 20px;

    text-decoration: none;

    color: white;
}
.roleList{
    color: #585C65;
}

/*ButtonBlock*/

.ButtonBlock{
    width: 210px;
    height: 100%;

    float: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ButtonBlockHide{
    display: none;
}
.ArchiveButton>svg{
    transition: .3s ease-in-out;
    cursor: pointer;

    fill:white;
}
.EditButton>svg{
    transition: .1s ease-in-out;
    cursor: pointer;

    fill:white;
}
.DeleteButton>svg{
    transition: .3s ease-in-out;  
    cursor: pointer; 

    fill:#BE4747; 
}  
.ArchiveButton>svg:hover{
    fill:rgb(116, 116, 116);
}
.EditButton>svg:hover{
    fill:rgb(116, 116, 116);
}
.DeleteButton>svg:hover{
    fill:#772f2f;    
}  
.ArchiveButtonShow{
    height: 60px;
    width: 60px;
    right: 20px;
    bottom: 10px;
    position: absolute;

    border-radius: 20px;

    transition: .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #242831;
}
.ArchiveButtonShow:hover{
    background-color: #3c4352;
}
.ArchiveButtonShow>svg{
    fill: white;
}