.Reg{
    width: 100%;
    height: calc(100vh - 100px);

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.RegisterBlock{
    width: 400px;
    padding-top: 30px;
    border-radius: 10px;

    background-color: #242831;
}

.TitlePage{
    margin: 10px 0;
    font-size: 32px;

    text-align: center;
    color: white;
}
.RegisterForm{
    margin-top: 50px;
}
.RegisterForm>form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.RegisterForm>form>input{
    width: 250px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 20px;

    border-radius: 10px;
    border: solid white .5px;
    
    font-size: 20px;

    color: white;
    background-color: #242831;
}
.RegisterForm>form>button{
    height: 50px;
    width: 150px;
    margin-top:20px;
    margin-bottom: 50px;
    
    border-radius: 10px;
    border: none;

    font-size: 25px;

    
    background-color: #4147FF;
    color: white;

    transition: .3s ease-in-out;
}
.RegisterForm>form>button:hover{
    background-color: #2f33b9;
}